*.exe
*/pkg/*
*/src/golang.org/*
*/src/google.golang.org/*
*/src/github.com/*
*/src/gopkg.in/*
mainapp/myconfig.json
mainapp/config-dev.json
mainapp/onlineCV-b3ad0190adc1.json
mainapp/ca-certificates.crt
python-opencv-app/ca-certificates.crt
python-opencv-app/onlineCV-b3ad0190adc1.json


